<footer>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                <a href="javasript:;"></a>
            </div>
            <nav class="action">
                <ul class="action__items">
                    <li><a href="#">Как использовать</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Скачать</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
                <a class="btn btn-tertiary" href="javascript:;"> Получить доступ </a>
            </nav>
        </div>
    </div>
</footer>